@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  //transition: color 0.2s ease, opacity 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
  @apply transition-all;
}

html, body, #__next {
  @apply h-full bg-slate-100 text-slate-800 dark:bg-pm-black dark:text-slate-100;
}

.markdown > * {
  margin: 1em 0;
}

.markdown > ul {
  list-style-type: disc;
  margin-left: 2em;
}

.logo, .image-lift {
  will-change: filter;
}

span.clickable-image > a > span, span.logo > a > span {
  overflow: inherit !important;
}

.device-button {
  @apply flex items-center justify-between w-full px-4 py-2 mx-0 my-2 border rounded border-slate-400;
}

button {
  @apply hover:shadow-md hover:-translate-y-0.5 dark:hover:shadow-slate-600 active:translate-y-0 active:shadow-none
}

.icon-left {
  @apply w-5 h-5 mr-4;
}

.icon-right {
  @apply w-5 h-5 ml-4;
}

.logo:hover {
  @apply -translate-y-0.5;
  filter: drop-shadow(0 1em 2.1em #de626a) !important;
}

.image-lift:hover {
  @apply -translate-y-2;
  filter: drop-shadow(0 1em 2.1em rgb(55 65 81)) !important;
}

@media (prefers-color-scheme: dark) {
  .image-lift:hover {
    filter: drop-shadow(0 1em 2.1em rgb(242 242 242)) !important;
  }
}

/* progress bar */

/*
 * SVG Progress Indicator
 *
 * Set-up the indicator using SVG attributes that are 
 * supported as properties in CSS.
 *
 * @since 07/07/22
 * @link  https://codepen.io/_rahul/pen/BarobwE
 */

 .svg-pi-wrapper {
  position: relative;
}

.svg-pi {
  transform: rotate(-90deg); /* Fix the orientation */
}

/* Animated spinner version */
.svg-pi-indicator--spinner {
  animation: spinner .75s linear infinite;
  transform-origin: center;
}

.svg-pi-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.svg-pi-label__loading {
  opacity: .5;
  font-size: 0.75em;
}

.svg-pi-label__progress {
  font-size: 1.5em;
  font-weight: bold;
}

.svg-pi-label__loading,
.svg-pi-label__progress {
  display: block;
}

/* Spinner animation */
@keyframes spinner {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}