@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  transition: color 0.2s ease, opacity 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

html, body, #__next {
  @apply h-full bg-slate-100 text-slate-800 dark:bg-slate-800 dark:text-slate-100;
}

.markdown > * {
  margin: 1em 0;
}

.markdown > ul {
  list-style-type: disc;
  margin-left: 2em;
}

.logo, .image-lift {
  will-change: filter;
  transition: 0.2s;
}

span.clickable-image > a > span, span.logo > a > span {
  overflow: inherit !important;
}

.logo:hover {
  @apply -translate-y-1;
  filter: drop-shadow(0 10px 1em #de626a) !important;
}

.image-lift:hover {
  @apply -translate-y-2;
  filter: drop-shadow(0 10px 1em rgb(55 65 81)) !important;
}

@media (prefers-color-scheme: dark) {
  .image-lift:hover {
    filter: drop-shadow(0 10px 1em rgb(242 242 242)) !important;
  }
}
